.App {
  text-align: center;
  background-image:url('bmw.jpg');
  min-width:100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "IRANSansWeb";
  src:url("./fonts/IRANSansWeb(FaNum).woff")format("woff");
  font-weight: normal;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
  display: flex;
  text-decoration:double
}
.input-a{
  display: flex;
  width: 56px;
  font-size: 20px;
  text-align: center;
}
.input-c{
  display: flex;
  width: 47px;
  font-size: 20px;
  text-align: center;
}
.input-b{
  display: flex;
  width: 56px;
  border-radius: 0px 9px 9px 0px;
  font-size: 20px;
  text-align: center;
}
.input-ae{
  display: flex;
  width: 56px;
  font-size: 20px;
  text-align: center;
}
.input-ce{
  display: flex;
  width: 47px;
  font-size: 20px;
  text-align: center;
}
.input-be{
  display: flex;
  width: 56px;
  border-radius: 0px 9px 9px 0px;
  font-size: 20px;
  text-align: center;
}
.App-header {
  position: fixed;
  display: flex; 
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content:center;
}
.All-pelak {
  display: flex; 
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-pelakcity{
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  border-radius: 0px 9px 9px 0px;
  background-color: aliceblue;
  height: 60px;
  margin-top: 587px;
}
.app-pelak{
  background-color: aliceblue;
  height: 60px;
  display: flex;
  border-radius: 9px 0px 0px 9px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 587px;
  margin-left: 900px;
}
.app-pelakcitye{
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  border-radius: 0px 9px 9px 0px;
  background-color: aliceblue;
  height: 60px;
}
.app-pelake{
  background-color: aliceblue;
  height: 60px;
  display: flex;
  border-radius: 9px 0px 0px 9px;
  border: 2px solid rgb(0, 0, 0);
}
.button-group{
  display: flex;
  margin-left: 0px;
}
.Link{
  text-decoration: none;
  color: white;
}
.app-button{
  margin-top: 590px;
  height: 60px;
}

.customers {
  
  
  font-family: "IRANSansWeb";
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  text-decoration: rtl;
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
